body {
    background-color: rgb(111, 111, 111);
    background-size: cover;
    background-image: url("TypeScriptBack.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

p {
    margin: 5px;
    text-indent: 20px;
    text-align: justify;
    line-height: 120%;
    text-indent: 0%;
}

#content {
    margin-bottom: 20px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 30px;
    max-width: 80%;
    margin: 30px auto;
}

a {
    color: black;
}

#picture {
    float: right;
    height: 257px;
}

h1 {
    font-variant: small-caps;
    font-style: italic;
}

li {
    margin-left: 15px;
    list-style-type: square;
}

table {
    width: 80%;
    margin: auto;
}

#kekek {
    font-weight: bold;
    color: #087AC8;
}

#osszead {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.8rem;
}

table,
tr,
td {
    border: 1px solid gray;
    text-align: center;
    margin: 5px;
}

thead {
    color: white;
    background-color: #087AC8;
}

a:hover {
    color: #087AC8;
    text-decoration: none;
}

#quiz {
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: blue;
    color: white;
}

#js {
    display: none;
}

.fcel {
    border: 2px solid blue;
}

.gomb {
    background-color: #087AC8;
    border-radius: 4px;
    color: white;
}